:root {
    --link-color: #404040;
    --link-border: #9f7544;
    --font-main: "IM Fell English", "KaiTi", "Kaiti SC", "STKaiti", "Comic Sans MS", source-han-serif-tc, ui-serif, system-ui, serif;
    /*--font-secondary: 'Open Sans', 'Microsoft YaHei', Hiragino Sans GB, system-ui, san-serif;*/
    --font-secondary: "Roboto Slab", "Noto Sans SC", "Noto Sans TC", "Noto Sans", ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --font-code: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas,"Noto Sans TC", "Noto Sans SC",monospace;  
}

body {
    margin: 60px auto;
    width: 70%;
    font-family: var(--font-secondary);
}

nav ul, footer ul {
    font-family: var(--font-main);
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color:var(--link-border);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 3px;
}
a:hover {
    text-decoration: none;
    color:var(--link-border);
    box-shadow: 0 0 0 2px var(--link-border);
}

h1 {
    font-size: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/* ===================== 项目盒子样式 ===================== */
.project-box {
  background-color: white; /* 黑色背景 */
  color: #333;
  padding: 20px;
  border-radius: 12px; /* 圆角边框 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  margin-top: 30px;
  margin-bottom: 20px;
}

.project-box p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.project-box a {
  text-decoration: none;
  color:var(--link-border);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 3px;
}

.project-box a:hover {
  color: var(--link-border);
  box-shadow: 0 0 0 2px var(--link-border);
}

/* ===================== 响应式设计 - 项目盒子部分 ===================== */
@media (max-width: 767px) {

  .project-box {
    padding: 15px;
    margin-top: 20px;
  }

  .project-box p {
    font-size: 14px;
  }

  .project-box a {
    font-size: 14px;
  }

}
