
:root {
    --width: 820px;
    --font-main: "IM Fell English", "KaiTi", "Kaiti SC", "STKaiti", "Comic Sans MS", source-han-serif-tc, ui-serif, system-ui, serif;
    /*--font-secondary: 'Open Sans', 'Microsoft YaHei', Hiragino Sans GB, system-ui, san-serif;*/
    --font-secondary: "Roboto Slab", "Noto Sans SC", "Noto Sans TC", "Noto Sans", ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-code: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas,"Noto Sans TC", "Noto Sans SC",monospace;  
  --font-scale: 1.13em;
    --letter-spacing: 0.05em;
    --background-color: #f1f1f1;
    --heading-color: #000000;
    --text-color: #404040;
    --link-color: #404040;
    --link-border: #9f7544;
    /*--link-border: #ff7f00;*/
    --link-background: #E0E3FD;
    /*--visited-color: rgba(0, 0, 0, 0.8);*/
    --visited-color: #9f7544;
    --code-background-color: #ffffff;
    --code-color: #666666;
}

@media (prefers-color-scheme: dark) {
    :root {
      /* --background-color: #232323;*/
      --background-color: #08192d;
      --heading-color: #ffffff;
      --text-color: #e1e1e1;
      --link-color: #e1e1e1;
      /*--link-border: #6074ff;*/
      --link-border: #c09662;
      --link-background: #292c42;
      /*--visited-color: #7d7d7d;*/
      --visited-color: #c09662;
      --code-background-color: #000;
      --code-color: #bbbbbb;
    }
}

/* 繼承博客的CSS */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    text-align: left;
    background-color: transparent !important;
    color: var(--text-color);
}

.related-articles-container {
  font-family: var(--font-secondary);
  max-width: var(--width);
  margin: 20px auto 0;
  padding: 0;
  box-sizing: border-box;
}

.related-title {
  color: var(--heading-color);
  font-family: var(--font-main);
  font-size: 1.3em;
  margin: 30px 0 15px;
  padding-bottom: 8px;
}

.articles-list {
  list-style-type: disc; /* 顯示實心圓點 */
  padding-left: 1.5em; /* 標準列表縮進 */
  margin: 0.5em 0; 
}

.article-item {
  padding: 6px 0;
  display: list-item; /* 這行很重要 */
}

.article-item:last-child {
  border-bottom: none;
}

.article-link {
    color:var(--link-color);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 3px;
}

.article-link:hover {
    text-decoration: none;
  	box-shadow: 0 0 0 3px var(--link-border);
}

.no-results {
  color: var(--text-color);
  font-size: 0.9em;
  line-height: 1.5;
}

.no-results a {
    color:var(--link-color);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 3px;
}

.no-results a:hover {
    text-decoration: none;
  	box-shadow: 0 0 0 3px var(--link-border);
}



